.user-form {
  padding: 18px 20px 0 20px;
  border-top: 1px solid #e6e6e6;
}

.user-form__contact {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  color: #b3b3b3;
}

.user-form__form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.user-form__input-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  padding-top: 25px;
}

.user-form__input-icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.name {
  background-image: url("../../imgs/form/user\ 1.svg");
}

.phone {
  background-image: url("../../imgs/form/phone\ 2.svg");
}

.email {
  background-image: url("../../imgs/form/email.svg");
}

.inn {
  background-image: url("../../imgs/form/inn.svg");
}

.user-form__input {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  color: #000000;
}

.user-form__total {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}

.user-form__total p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000000;
}

.user-form__total .user-form__total-price {
  color: #c93e33;
}

.user-form__submit {
  margin-top: 21px;
  background: #c93e33;
  border-radius: 4px;
  padding: 12px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-form__submit-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../imgs/form/icon/shopping.svg");
  margin-left: 32px;
}

.user-form__submit-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  color: #ffffff;
  padding-left: 26px;
}

.user-form__suggestion {
  margin-top: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #c93e33;
  border-radius: 4px;
  padding: 12px 0 14px 0;
}

.user-form__sugestion-icon {
  width: 18px;
  height: 18px;
  background-image: url("../../imgs/form/file.svg");
  margin-left: 28px;
}

.user-form__sugestion-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  color: #c93e33;
  padding-left: 22px;
  text-align: left;
}
